<app-header titulo="Alert"></app-header>

<ion-content class="ion-padding">

    <!-- alerta basica -->
    <ion-button (click)="presentAlert()" expand="block">
         Alerta
    </ion-button>

    <!-- alerta con multiples botones -->
    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Alerta MultiplesB
    </ion-button>

    <!-- alerta prompt -->
    <ion-button (click)="presentAlertPrompt()" expand="block">
        Alert Prompt
    </ion-button>

</ion-content>
